* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}


body {
    font-size: 100%;
    background-color: #F2F3F4;
}
/*formatacao cabecalho*/

#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #2d394b;
    margin-bottom: 0px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: black;
}


#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*reponsividade*/



#mobile{
    display: none;
    align-items: center;
}

#close{  
    position: absolute;  
}

.logo{
    height: 70px;
}

.pesquisar{
    height: 40px;
    width: 30vw;
    min-width: 100px;
    border:none;
    border-radius: 10px;
    padding-left: 20px;
}

.menu-item{
    color: white;
    padding: 10px;
}

.menu-item:hover{
    color: #cccccc;
}

/*formatacao pagina principal*/

.titulos{
    color: rgb(29, 29, 29);
    font-size: 30px;
    margin-bottom: 40px;
}

main{
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.parte-cima{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ver-todos{
    color: black;
    font-weight: 500;
}

.ver-todos:hover{
    color: #999;
    text-decoration: underline;
}

.produto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.novidade-produto{
    width: 250px;
    background-color: white;
    padding-bottom: 20px;
    margin: 31px;
}

.novidade-produto-imagem{
    width: 250px;
    height: 200px;
}

.novidade-produto-descricao{
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 10px;
    color: black;
}

.preco{
    margin-top: 10px;
    font-size: 25px;
    padding-left: 10px;
    color: #296275;
    font-weight: 700;
}

.modo-pagamento{
    padding-left: 10px;
    color: black;
    opacity: 50%;
}

.novidade-produto-botao{
    margin: 10px;
    background-color: #296275;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.novidade-produto-botao:hover{
    background-color: #2d394b;
}
#categorias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

#categorias .categorias-individual{
    background-color: white;
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.3);
    border: 1px solid #1d40da;
    border-radius: 4px;
    margin: 15px 0;
}

#categorias .categorias-individual:hover{
    box-shadow: 20px 20px 34px rgb(70, 62, 221, 0.1);

}

#categorias .categorias-individual a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categorias-individual-imagem{
    margin-top: 10px;
    background-color: white;
    width: 100%;
}

/*formatacao do rodape*/
footer{
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

.rodape{
    height: 120px;
}

/*formatacao das compras*/

.compra{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 50px;
}

.propaganda{
    margin: 25px;
}

.compra-descricao{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}


.compra-preco-avista{
    font-size: 50px;
    color: #296275;
    font-weight: 650;
}

.compra-modo-pagamento{
    opacity: 50%;
    margin-bottom: 20px;
}

.compra-preco-real{
    font-size: 15px;
    font-weight: bold;
}

.compra-opcao{
    font-size: 15px;
}

.compra-botao{
    margin-top: 20px;
    background-color: #296275;
    color: white;
    padding: 10px;
    border: none;
    margin-right: 10px;
}

.compra-botao:hover{
    background-color: #2d394b;
}

.descrever{
    margin-bottom: 50px;
}

.descricao{
    line-height: 30px;
    font-weight: 500;
    word-spacing: 5px;
    font-size: 18px;
}


/*CSS do carrinho*/

#carrinho{
    overflow-x: auto;
}

#carrinho table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#carrinho table img{
    width: 70px;
}

#carrinho table td:nth-child(1){
    width: 100px;
    text-align: center;

}


#carrinho table td:nth-child(2){
    width: 150px;
    text-align: center;

}
#carrinho table td:nth-child(3){
    width: 250px;
    text-align: center;

}
#carrinho table td:nth-child(4),
#carrinho table td:nth-child(5),
#carrinho table td:nth-child(6){
    width: 150px;
    text-align: center;

}

#carrinho table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#carrinho table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#carrinho table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 19px 0;
}

#carrinho table tbody tr td{
    padding-top: 15px;
}

#carrinho table tbody td{
    font-size: 13px;
}

#addcarrinho{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

#subtotal h3{
    padding-bottom: 15px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


#subtotal botao-compra{
    
    color: #fff;
    padding: 12px 20px;
}

/*Fim CSS carrinho*/


/*CSS da pag de produtos*/

#Produto1{
    text-align: center;
}


#pagination{
    text-align: center;
    
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    
}

#Produto1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#Produto1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #7c8ef7;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.10);
    margin: 15px 0;
    

}

#Produto1 .pro:hover{
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.16);
}

#Produto1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#Produto1 .pro .descri{
    text-align: start;
    padding: 10px 0;
}

#Produto1 .pro .descri span{
    color: #666666;
    font-size: 12px;

}

#Produto1 .pro .descri h5{
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;

}

#Produto1 .pro .descri i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#Produto1 .pro .descri h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}


/*Fim CSS pag de produtos*/



/*CSS LOGIN*/

#login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #2d394b;
    background-position: center;
    background-size: cover;
}
#form-box{
    position:relative;
    width: 400px;
    height: 450px;
    
    background: #2f3f5f ;
    border: 2px solid rgba(214, 214, 214, 0.664);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;

}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin:25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}

/*CSS LOGIN*/


/*Simcle imagem*/

#produtodetalhes{
    display: flex;
    margin-top: 20px;
}

#produtodetalhes .single-image{
    width: 40%;
    margin-right: 50px;
    
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#produtodetalhes .single-detalhes{
    width: 50%;
    padding-top: 30px;
}

#produtodetalhes .single-detalhes h4{
    padding: 40px 0 20px 0;
}
#produtodetalhes .single-detalhes h2{
    padding: 26px;
}

#produtodetalhes .single-detalhes button{
    background: #088178;
    color: #fff;
}


#produtodetalhes .single-detalhes span{
    line-height: 25px;
}

/**/
@media (max-width:799px){

     
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #2f375c;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80 px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }

  


    #feature {
        
        justify-content: center;
        
    }

    #feature .fe-box {
        
        margin: 15px 15px;
    }
    

    #Produto1 .pro-container {
        
        justify-content: center;
        
    }
    
}






@media (max-width:477px){

    #header {
        
        padding: 10px 30px;
        
    }

    

    #feature {
        
        justify-content: space-between;
        
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    /*Single Produto*/
    #produtodetalhes {
        display: flex;
        flex-direction: column;
    }

    #produtodetalhes .single-image {
        width: 100%;
        margin-right: 0px;
    }

    #produtodetalhes .single-detalhes {
        width: 100%;
        
    }

    #addcarrinho {
        width: 100%;
        flex-direction: column;
        
    }

    #subtotal {
        width: 10%;
        padding: 20px;
    }
    

}